<%- include ("partials/landingExt") %>


<div  class="box">
	<div>
		<h1>
			<em>Home Page!</em>
		</h1>

		<P>
			<strong>Welcome to OSU RENTING HOME!</strong>
		</P>

		<a href="/apartments"><strong>View All Apartments</strong></a>
	</div>
</div> 

<%- include ("partials/footer") %>